/* Ensure navbar stays on top */
nav {
    display: flex;
    justify-content: space-between;
    
    position: fixed; /* Make the navbar fixed */
    top: 2%;
    left: 0;
    width: 100%;
    
    z-index: 9999; /* Keep navbar on top */
    
  }
  
  
  div{
    
  }
  
  #logo {
    margin:0;
    padding-left: 0;
  }
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
    list-style: none;
    box-sizing: border-box;
    background-color: white; 
    padding: 0.5rem 0;
  }
  
  #navbar li {
    padding: 0 3%;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
  }
  
  #navbar li a:hover {
    color: #f0a500;
  }
  